test/deployment/
test/.classpath
test/.project
test/*.lock
test/*.launch
test/.svn/
test/.mendix-cache/

!test/
test/*
!test/javasource/
test/javasource/*
!test/javasource/*/
test/javasource/*/*
!test/javasource/*/actions

.vscode/
out/
nbproject/
node_modules/
.idea
*.bak
*.map
*.tmp
*.jshintrc
src/Carousel/Carousel.d.ts
src/Carousel/widget/Carousel.js
src/Carousel/widget/components/ImageCarousel.js
src/Carousel/widget/components/Carousel.js
src/Carousel/widget/components/CarouselItem.js
src/Carousel/widget/components/CarouselCaption.js
src/Carousel/widget/components/Glyphicon.js
src/Carousel/widget/components/SafeAnchor.js
src/Carousel/widget/utils/bootstrapUtils.js
src/Carousel/widget/utils/TransitionEvents.js
src/Carousel/widget/utils/StyleConfig.js
