.widget-carousel {
    position: relative
}

.widget-carousel-item-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden
}

.widget-carousel-item-wrapper .widget-carousel-item {
    position: relative;
    display: none;
}

.widget-carousel-item-wrapper .widget-carousel-item img {
    line-height: 1;
    min-width: 100%;
    max-width: 100%;
    height: auto
}

.widget-carousel-item-wrapper .active {
    display: block;
    left: 0
}

.mx-carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    opacity: .5
}

.mx-carousel-control.left {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1)
}

.mx-carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1)
}

.mx-carousel-control:focus,
.mx-carousel-control:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9
}

@media screen and (min-width: 768px) {
    .mx-carousel-control .glyphicon-chevron-left,
    .mx-carousel-control .glyphicon-chevron-right {
        width:30px;
        height: 30px;
        margin-top: -15px;
        font-size: 30px
    }

    .mx-carousel-control .glyphicon-chevron-left {
        margin-left: -15px
    }

    .mx-carousel-control .glyphicon-chevron-right {
        margin-right: -15px
    }
}
